%fieldset
  %label{:for=>"order_type_name"} Название
  = f.text_field :name, :size=>30, :class=>'long'
  %label{:for=>"order_type_price"} Цена, руб.
  = f.text_field :price, :size=>30, :class=>'long'
  %br
  %label{:for=>"order_type_info"} Информация
  = f.text_area :info, :rows=>10, :cols=>20
  %br
  %br
  = f.check_box :active, :class=>'checkbox'
  %span.checkboxlabel Услуга доступна

