%h1 Смена пароля
= form_for @user, :url => password_reset_path, :method => :put do |f|
  = f.error_messages
  %label Пароль
  %br
  = f.password_field :password
  %br
  %br
  = f.submit "Изменить пароль"
