#content {min-height:500px;}

.red {color:red;}
.green {color:green;}
.center {text-align:center;}

.order_info {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.type_active {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.type_blocked {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}

ul.inline_menu {list-style-type:none; font-size:200%;}
ul.inline_menu li {display:inline; margin-right:2em;}

ul.submenu {list-style-type:none; font-size:120%;}
ul.submenu li {display:inline; margin-right:2em;}
ul.submenu li span {background:#E5ECF9; padding:0.5em;}

ul.none {list-style-type:none; font-size:90%; margin:0;}
ul.none li {margin-top:1em;}

#loginbox {background:#E5ECF9; padding:1.5em; text-align:center;}
#go_order {background:#aadfaa; padding:0.7em; text-align:center; font-size:150%; margin-top:0.5em;}

.statuses {display:none; background:#a3e8a3;padding:1em;}

.top5 {margin-top:6em;}

.orderhead {background:#E5ECF9; padding:0.5em; font-size:150%; border: 1px solid #7f7f7f;}
.orderhead b {font-size:75%;}
.orderhead b.green {color:#397339;}

a.tiny {font-size:70%;}

.files a
{
  padding:2px 0 2px 22px;
  margin: 2px 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(/images/icons/file.png); 
}

.files a.pdf   { background-image: url(/images/icons/pdf.png); }  
.files a.doc   { background-image: url(/images/icons/doc.png); }  
.files a.xls   { background-image: url(/images/icons/xls.png); }  

table.messages {border-left: 1px solid #7f7f7f;}
table.messages tr td {border-bottom: 1px solid #7f7f7f;border-right: 1px solid #7f7f7f;}

table.orders tr {background:#E5ECF9;}
table.orders tr td {border-right:1px solid #9797bf;border-top:1px solid #9797bf;}
table.orders td {padding:1em;}

table.users tr {width:50%;}
table.users tr td {border:1px solid #9797bf;}
table.users td {padding:1em;}

.payments {font-size:0.8em; }

