.zakaz_status
  %span Состояние заказов
  = link_to '<i>Текущие</i>', account_url, :class=> @status=="old" ? "inactiveStatus" : "activeStatus"
  = link_to '<i>Архив</i>', account_url(:status=>"old"), :class=> @status=="old" ? "activeStatus" : "inactiveStatus"

