%h1 Пользователи системы
%table.users
  - @users.each do |user|
    %tr
      %td{:width=>'20%'}= link_to user.name, user
      %td{:width=>'20%'}= link_to user.email, user
      %td{:width=>'20%'}
        - if user.admin?
          администратор
      %td{:width=>'20%'}
        = link_to "настройка", edit_user_url(user)
      %td{:width=>'20%'}
= will_paginate @users
