.footer.clear
  .footerL.justify
    - if main_page?
      \* С 01 октября 2006 года вступило в силу постановление РФ от 28.08.06г. №525 о внесении изменений в правила ОСАГО,
      утвержденные постановлением правительства РФ от 07.05.03 №263, в котором говорится о том, что теперь Вы не обязаны
      предоставлять автомобиль в страховую компанию на осмотр по направлению, а можете сами организовывать независимую
      оценку ущерба после аварии, не выжидая 5 рабочих дней. При этом страховая компания обязана принять документы
      и использовать результаты независимой автоэкспертизы после ДТП для решения об осуществлении страховой выплаты.
  .footerR
    &copy; ооо «Экка». #{Time.now.year}