%ul.submenu
  - @statuses.each do |status|
    %li
      - if @status==status
        %span= status.menu_name
      - else
        = link_to status.menu_name, orders_path(:status=>status.id)
  %li
    - if @status
      = link_to "Все", orders_path
    - else
      %span Все
  
