%tr
  %td{:width=>'20%', :align=>'center', :valign=>'middle'}
    = message.user ? message.user.name : message.author
    %br
    = Russian::strftime(message.updated_at, "%d %B %Y %H:%M")
  %td{:width=>'50%'}
    = message.body
  %td{:width=>'30%', :valign=>'middle'}
    .files
      - message.documents.each do |doc|
        = link_to doc.file_file_name, {:controller=>:documents, :action=>:download, :id=>doc.id}, :class=>File.extname(doc.file.url).split('?')[0].gsub('.','')
        %br
