.right.recommentations
  %h3 Правила фотографирования
  %p 
    При фотографировании транспортного средства в обязательном порядке в первую очередь должны быть сделаны 4&nbsp;фотоснимка:
  %ol
    %li
      %span общий вид с правого угла спереди
    %li
      %span общий вид с левого угла ТС сзади
    %li
      %span идентификационный номер – VIN
    %li
      %span показатель спидометра, далее отдельные виды поврежденных деталей, узлов и агрегатов
	
  %a{:href => '/docs/how_to_photo.docx'} Правила фотографирования