<h3>Здравствуйте, <%= @name %>!</h3>

<p>Ваш заказ №<%= @order.id %> от <%= @date %> принят к обработке!<br/>
В ближайшее время наш менеджер свяжется с Вами для подтверждения заказа. </br>
Вы также можете уточнить любую информацию по телефону (495) 762 13 60  или по e-mail: ooo_ekka@mail.ru </p>

<p>С уважением,<br/>
ООО "Экка"</p>

<p>Эта сообщение автоматически сформировано системой приёма заказов. Отвечать на него не требуется. <br/>
В случае, если у Вас возникнет необходимость связаться с нами, рекомендуем сделать это на нашем сайте, в вашем личном кабинете, создав новое сообщение по заказу.</p>
