%h1 Нормативные документы

%a{:href => '/docs/135-FZ.pdf'} Закон об оценочной деятельности в РФ №135ФЗ
%br
%a{:href => '/docs/40-FZ.doc'} Закон об ОСГО №40 ФЗ
%br
%a{:href => '/docs/pravila.doc'} Правила страхования ОСАГО №263 (действуют с 13.04.03)
%br
%a{:href => '/docs/pp-238.doc'} Об организации независимой технической экспертизы ТС (ПП РФ от 24.04.03 №238)
%br
%a{:href => '/docs/fso1.doc'} Стандарты оценки ФСО-1
%br
%a{:href => '/docs/fso2.doc'} Стандарты оценки ФСО-2
%br
%a{:href => '/docs/fso3.doc'} Стандарты оценки ФСО-3
%br
%a{:href => '/docs/postanovlenie_361.doc'} Постановление от 24.05.10 №361
%br
%a{:href => '/docs/metodika_rsa.pdf'} Методические рекомендации
%br
%a{:href => '/docs/RD-1_2_3_4.doc'} Методическое руководство