%h1 Как это работает

%p Очень просто!

%p У вас поврежден автомобиль, и Вам нужно предварительно оценить размер ущерба?

%p Вы собираетесь заказать независимую экспертизу для суда или страховой компании, но хотите предварительно узнать, какой размер ущерба будет фигурировать в экспертном заключении?

%p Станция технического обслуживания выставила Вам (предварительный) счет за ремонт, и вы хотите проверить его на предмет «лишних» работ, материалов и превышение нормативов трудоемкости?


1.	Вы фотографируете поврежденный автомобиль, свидетельство о регистрации и справку о ДТП в удобное для Вас время и в удобном для Вас месте согласно (ссылка!) Правилам фотографирования.
%br
2.	Вы регистрируетесь на сайте (указывая только имя и контактный адрес электронной почты), или заходите в свой (ссылка!) Личный кабинет, и создаете новый заказ на «Экспресс-расчет».
%br
3.	Вы прикладываете к заказу сделанные фотографии, и кратко описываете, что бы Вы хотели оценить.
%br
4.	Наш специалист оценивает качество и достаточность фотографий. В случае, если чего-то не хватает или фотографии документов вышли нечеткими, Вам сразу об этом сообщается на Ваш электронный адрес. В таком случае Вы сможете приложить к заказу дополнительные фотографии, документы, или ответить на уточняющий вопрос эксперта.
%br
5.	В случае, если данных достаточно, заказ передается на расчет (обычно эта процедура занимает не более 1 дня). 
%br
6.	Как только расчет произведен и заказ готов, Вам сообщается об этом на указанный электронный адрес, и Вы можете выбрать один из способов оплаты сделанного заказа: кредитной картой либо банковским переводом (возможен перевод средств через Мобильный банк или иную подобную услугу Вашего банка). ПРИ ОПЛАТЕ ОБЯЗАТЕЛЬНО УКАЖИТЕ НОМЕР ЗАКАЗА В НАЗНАЧЕНИИ ПЛАТЕЖА, в противном случае мы не сможем идентифицировать Ваш платёж.
%br
7.	 Сразу после поступления средств Ваш заказ высылается Вам на электронную почту в виде файлов Word и Excel.
%br
8.	Далее, если сумма Вас устраивает, и вам необходимо экспертное заключение в бумажном виде, Вы создаете новый заказ на «Предоставление оригинала экспертного заключения», оплачиваете, как указано в п.6, и наш курьер доставит Вам документы в удобное для вас время и место.
%br
%br
%a{:href => '/docs/how_to_photo.docx'} Правила фотографирования
 
