.intro
  %p.justify Наша компания проводит независимую экспертизу ущерба и помогает в возмещении убытков в досудебном или судебном порядке.
  %p.justify Независимо — значит объективно. На нашу точку зрения не влияют ни страховая компания, ни другие заинтересованные стороны.
%h1.purple Мы предоставляем возможность проверить*:
%ul.f16
  %li Страховую компанию
  %li Технический центр
  %li Калькуляцию по претензии
.block_new
  %h2 Экспертиза ОН-ЛАЙН
  %span 1
  - if current_user
    = link_to "Сделайте заказ", new_order_path
  - else
    = link_to "Зарегистрируйтесь", new_user_url
  %br
  %span 2
  Пришлите нам фото автомобиля
  %br
  %span 3
  Получите экспертную оценку
  %br


.more-info
  %p.justify
    Мы работаем в будние дни, с 10-ти утра до 6-ти вечера.
  %p.justify
    Курьерская служба работает каждый день, включая выходные. С 8-ми утра до 10-ти вечера, это удобно заказать, как домой, так и в офис. Подробней читайте в разделе #{link_to "как это работает", :about}
  %p.justify
    Мы принимаем оплату через банковские (кредитные и дебетовые) карты через интернет и банковским переводом, это можно сделать в отделении любого банка РФ. Если Вам неудобно оплачивать переводом с кредитной карты, Вы можете скачать квитанцию и почитать подробней о том, как работает сервис на странице 
    =link_to "условия оплаты и доставки.", payment_page_path