.intro
  %p Наша компания проводит независимую экспертизу ущерба и помогает в возмещении убытков в досудебном или судебном порядке.
  %p Независимо — значит объективно. На нашу точку зрения не влияют ни страховая компания, ни другие заинтересованные стороны.
%h1 Мы предоставляем возможность проверить*:
%ul.f16
  %li Страховую компанию
  %li Технический центр
  %li Калькуляцию по претензии
.block_new
  %h2 Экспертиза ОН-ЛАЙН
  %span 1
  = link_to "Зарегистрируйтесь", new_user_url
  %br
  %span 2
  Пришлите нам фото автомобиля
  %br
  %span 3
  Получите экспертную оценку
  %br

