%h2 Постановка цели исследования
%p
  Экспертное оценивание предполагает создание разума, обладающего большими способностями по сравнению с возможностями отдельного человека. Источником сверхвозможностей мультиразума является поиск слабых ассоциаций и предположений, основанных на опыте отдельного специалиста. Экспертный подход обладает большими возможностями по решению задач, не поддающихся решению обычным аналитическим способом:
  1. Выбор лучшего варианта решения среди имеющихся.
  2. Прогнозирование развития процесса.
  3. Поиска возможного решения сложных задач.
%p
  Перед началом экспертного исследования необходимо четко определить его цель, (проблему), и сформулировать соответствующий вопрос для экспертов. При этом рекомендуется придерживаться следующих правил:
  1. Четкое определение условий, времени, внешних и внутренних ограничений проблемы.
  2. Возможность ответа на вопрос с доступной человеческому опыту точностью.
  3. Вопрос лучше формулировать как качественное утверждение, чем как оценку числа. Для численных периметров не рекомендуется задавать более пяти градаций.
  4. Эксперты оценивают возможные варианты, не следует ожидать от них построения законченного плана действий, развернутого описания возможных решений.
%h2 Выбор формы исследования, определение бюджета проекта
%p
  Существующие виды экспертных оценок можно классифицировать по признакам:
  1. По форме участия экспертов: очное, заочное. (Очный метод позволяет сосредоточить внимание эксперт на решаемой проблеме, что повышает качество результата, однако заочный метод может быть дешевле).
  2. По количеству итераций (повторов процедуры для повышения точности) – одношаговые и итерациями.
  3. По решаемым задачам: генерирующие решения и оценивающие варианты.
  4. По типу ответа: идейные, ранжирующие, оценивающие объект в относительной или абсолютной (численной) шкале.
  5. По способу обработки мнений экспертов: непосредственные и аналитические.
  6. По количеству привлекаемых экспертов: без ограничения, ограниченные. Обычно используется 5 – 12 человек экспертов.
%h2 Подготовка информационных материалов
%p
  Подготовка информационных материалов, бланков анкет, инвентаря и модератора процедуры
  Эксперты, перед вынесением суждения, должны разносторонне рассмотреть представленную проблему. Поэтому, для проведения процедуры необходимо подготовить информационные материалы с описанием проблемы, имеющиеся статистические данные, справочные материалы. Следует избегать следующих ошибок: упоминать разработчиков материалов, выделять тот или иной вариант решения, выражать отношение руководства к ожидаемым результатам. Данные должны быть разносторонние и нейтральные. Заранее необходимо разработать бланки анкет для экспертов. В зависимости от метода они могут быть с открытыми и закрытыми вопросами, ответ может даваться в виде суждении, парного сравнения, ранжированного ряда, в баллах или в виде абсолютной оценки. Саму процедуру проводит независимый модератор процедуры, который контролирует соблюдение регламента, раздает материалы и анкеты, но сам не высказывает свое мнение.
%h2 Проведение экспертизы
%p
  Проведение процедуры отличается в зависимости от используемого метода. Общие рекомендации:
  1. Препятствовать давлению авторитетов (эксперт часто боится противоречить мнению большинства или наиболее уважаемого специалиста).
  2. Установить и соблюдать регламент. Увеличение времени на принятие решения сверх оптимального не повышает точность ответа.
