%h1 Оплата и доставка заказа
%p Вы можете оплатить заказ только при помощи безналичного расчета.
%h2 Банковский перевод
%p
  Данным способом оплаты могут воспользоваться как физические, так и юридические лица.
  Физическим лицам удобнее всего оформить банковский перевод через Сбербанк РФ, но можно воспользоваться услугами любого банка РФ.
  %br
  %br
  %b 
    После оформления заказа и подтверждения выполнения заказа оплатите 
    = link_to "квитанцию (счет)", order_download_path(id: params[:order_id])
  %br
%p
  Юридическим лицам при оплате по безналичному расчету после обработки поступившего заказа будет предоставлен счет на оплату. Для этого при оформлении заказа необходимо предоставить реквизиты организации-плательщика. При оплате по безналичному расчету доставка заказа осуществляется строго после поступления денег на расчетный счет.
%p.red
  В скором времени будут доступны электронные системы оплаты заказа (WebMoney, Yandex.Деньги, оплата пластиковыми картами).  
%p
  Для максимально быстрой обработки и доставки Вашего заказа при оплате по безналичному расчету или электронными деньгами сразу после оплаты сообщайте по электронному адресу следующие сведения:
  %br
  форму оплаты (наименование банка и номер платежного поручения (либо квитанции) при оплате по безналичному расчету или систему приема платежей при оплате электронными деньгами), оплаченную сумму и номер Вашего заказа.  
%h2 Доставка заказа
%p Доставка заказа осуществляется по всей территории РФ.
%h3 Для жителей Москвы или ближайшего Подмосковья
%p Доставка осуществляется курьерами.
%p 
  Стоимость доставки курьерской службой 
  %b по Москве (в пределах МКАД) 
  составляет 
  %b 300 рублей. 
  При заказе на сумму свыше 3000 рублей доставка осуществляется 
  %b бесплатно.
  Стоимость доставки 
  %b в ближайшее Подмосковье (а также по Москве за пределами МКАД) 
  составляет 
  %b 500 рублей 
  независимо от суммы заказа.
  Также Вы можете забрать свой заказ самостоятельно по адресу: г. Москва, ул.
%h3 Для жителей регионов РФ
%p
  Мы можем предложить нашим клиентам доставку заказа в любую точку РФ.
  Доставка осуществляется только при полной предоплате заказа
  %b ПОЧТОЙ РОССИИ, службой EMS Почты России
  либо указанной Вами
  %b транспортной компанией.
  Стоимость доставки заказа рассчитывается исходя из веса заказа, выбранного Вами способа отправки заказа и Вашей удаленности от Москвы.

