%h1.justify
  Оплата и доставка заказа

%p.justify 
  Внимание! Оплата заказа указанными ниже способами является конклюдентным действием, которым Вы в соответствии со ст. 158, 159 Гражданского кодекса РФ соглашаетесь с условиями 
  = link_to "Соглашения о предоставлении информационных услуг.", "/docs/information_service_agreement.doc"


%p.justify
  Вы можете оплатить заказ переводом с банковской (кредитной или дебетовой) карты, с помощью услуги Мобильный банк (или аналогичной Вашего банка) либо по безналичному расчету из отделения любого банка.


%h2.justify
  Оплата банковской картой
%p(style="text-align: center; font-weight: bold;")
  Данный способ оплаты наиболее удобен, им могут воспользоваться физические лица по картам VISA или Mastercard

%h2.justify Оплата через Мобильный банк или аналогичную услугу Вашего банка
%p.justify
  Реквизиты для платежа:
  %br
  %br 
  Наименование получателя платежа: ООО "ЭККА"
  %br 
  ИНН получателя платежа: 7701834487 
  %br 
  КПП: 770101001
  %br
  Номер счета получателя платежа: 40702810500090014594
  %br
  %br
  Наименование банка и банковские реквизиты: 
  %br
  ЗАО "РУССТРОЙБАНК" 
  %br
  к/с 30101810800000000591 в Отделении №5 Московского ГТУ Банка России, 
  %br
  БИК 044552591
  %br
  Оплата  услуг  по договору № (номер заказа, обязательное поле!) от (дата заказа, обязательное поле!)

%h2.justify Оплата банковским переводом
%p.justify 
  Данным способом оплаты могут воспользоваться как физические, так и юридические лица. Физическим лицам удобнее всего оформить банковский перевод через Сбербанк РФ или любой другой банк РФ, если он предоставляем Вам такие услуги.   
  %br
  %br
  %b
    После оформления заказа и подтверждения выполнения заказа оплатите 
    = link_to "квитанцию (счет)", order_download_path(id: params[:order_id])
  %br
%p.justify Юридическим лицам при оплате по безналичному расчету после обработки поступившего заказа будет предоставлен счет на оплату. Для этого при оформлении заказа необходимо предоставить реквизиты организации-плательщика. При оплате по безналичному расчету доставка заказа осуществляется строго после поступления денег на расчетный счет.
Для максимально быстрой обработки и доставки Вашего заказа при оплате по безналичному расчету или электронными деньгами сразу после оплаты сообщайте по электронному адресу следующие сведения:  форму оплаты (наименование банка и номер платежного поручения либо квитанции) при оплате по безналичному расчету или систему приема платежей при оплате электронными деньгами), оплаченную сумму и номер Вашего заказа.

%br
%br

%h2.justify Доставка заказа
%p.justify Доставка заказа осуществляется по всей территории РФ.
%h3.justify Для жителей Москвы или ближайшего Подмосковья
%p.justify
  Доставка осуществляется курьером.
%p.justify
  Стоимость доставки курьерской службой 
  %b по Москве (в пределах МКАД) 
  составляет 
  %b 300 рублей. 
  При заказе на сумму свыше 3000 рублей доставка осуществляется 
  %b бесплатно.
  Стоимость доставки 
  %b в ближайшее Подмосковье (а также по Москве за пределами МКАД) 
  составляет 
  %b 500 рублей 
  независимо от суммы заказа.
  Также Вы можете забрать свой заказ самостоятельно по адресу: г. Москва, ул.
%h3.justify Для жителей регионов РФ

%p.justify
  Мы можем предложить нашим клиентам доставку заказа в любую точку РФ. Доставка осуществляется только при полной предоплате заказа ПОЧТОЙ РОССИИ, службой EMS Почты России либо указанной Вами транспортной компанией. Стоимость доставки заказа рассчитывается исходя из веса заказа, выбранного Вами способа отправки заказа и Вашей удаленности от Москвы.

