%h1 Правила фотографирования
%p Фотографирование повреждений Транспортного средства ( обязательно в чистом виде)  следующим образом:
%p а) обзорный снимок  - фотография, на которой должен быть ясно различим регистрационный знак ТС в привязке к общему виду поврежденных деталей;
%p б) узловые снимки – фотографии повреждений с охватом одной или нескольких сопряженных деталей (узла повреждений);
%p в) детальные (масштабные) снимки – фотографии отдельных (локальных) повреждений ТС с близкого расстояния. В целях последующего определения размеров повреждения ТС в непосредственной близости от объекта съемки, следует укрепить масштабную линейку (полотно рулетки).

%h2 РАКУРСЫ ФОТОСЪЕМКИ.

%h4 РАКУРС 1. Общий вид с правого угла спереди:
=image_tag "rakurs1.png"

%h4 РАКУРС 2. Общий вид с левого угла сзади:
=image_tag "rakurs2.png"

%h4 РАКУРС 3. Идентификационный номер VIN (на Ваших снимках номер должен быть виден полностью).
=image_tag "rakurs3.png"

%h4 РАКУРС 4. Показатель спидометра.
=image_tag "rakurs4.jpg"

%h4 РАКУРС 5. Фотографии поврежденных деталей (крупным планом).
=image_tag "rakurs5.png"