@charset "US-ASCII";
/* line 17, ../../app/assets/stylesheets/_style.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 21, ../../app/assets/stylesheets/_style.sass */
html {
  height: 100%;
}

/* line 24, ../../app/assets/stylesheets/_style.sass */
body {
  font: 14px Tahoma, Geneva, sans-serif;
  width: 100%;
  color: #262626;
  background: white;
  height: 100%;
}

/* line 31, ../../app/assets/stylesheets/_style.sass */
a {
  color: #4d1977;
  outline: none;
}
/* line 34, ../../app/assets/stylesheets/_style.sass */
a:hover {
  text-decoration: none;
  color: #8154a4;
}
/* line 37, ../../app/assets/stylesheets/_style.sass */
a:active {
  color: #add13a;
}

/* line 40, ../../app/assets/stylesheets/_style.sass */
img {
  border: 0;
}

/* line 43, ../../app/assets/stylesheets/_style.sass */
p {
  margin: 0 0 20px 0;
}

/* line 46, ../../app/assets/stylesheets/_style.sass */
.clear {
  display: inline-block;
  display: block;
}
/* line 47, ../../app/assets/stylesheets/_style.sass */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 56, ../../app/assets/stylesheets/_style.sass */
.clearboth {
  clear: both;
}

/* line 59, ../../app/assets/stylesheets/_style.sass */
.hide {
  display: none;
}

/* line 62, ../../app/assets/stylesheets/_style.sass */
table td {
  vertical-align: top;
}

/* line 65, ../../app/assets/stylesheets/_style.sass */
ul {
  list-style: none;
}

/* line 68, ../../app/assets/stylesheets/_style.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* line 71, ../../app/assets/stylesheets/_style.sass */
h1 {
  font-size: 21px;
  margin-bottom: 10px;
}
/* line 74, ../../app/assets/stylesheets/_style.sass */
h1.purple {
  color: #4d1977;
}

/* line 77, ../../app/assets/stylesheets/_style.sass */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 81, ../../app/assets/stylesheets/_style.sass */
h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 85, ../../app/assets/stylesheets/_style.sass */
h4 {
  font-size: 14px;
  margin-bottom: 8px;
}

/* line 89, ../../app/assets/stylesheets/_style.sass */
h5 {
  font-size: 13px;
  margin-bottom: 5px;
}

/* line 93, ../../app/assets/stylesheets/_style.sass */
fieldset {
  border: 0;
}

/* line 96, ../../app/assets/stylesheets/_style.sass */
input, textarea {
  outline: none;
  font-family: Tahoma, Geneva, sans-serif;
}

/* line 100, ../../app/assets/stylesheets/_style.sass */
input.button {
  cursor: pointer;
}

/* line 104, ../../app/assets/stylesheets/_style.sass */
div.page {
  width: 931px;
  margin: 0 auto;
  padding: 50px 0 45px 0;
  padding-left: 46px;
}

/*//////////------////////// */
/*          Content */
/*//////////------////////// */
/* line 116, ../../app/assets/stylesheets/_style.sass */
div.body {
  clear: both;
  background: url(/assets/right.png) 100% 5px no-repeat;
}
/* line 119, ../../app/assets/stylesheets/_style.sass */
div.body div.inner {
  background: url(/assets/right_bottom.png) 100% 100% no-repeat;
}

/* line 121, ../../app/assets/stylesheets/_style.sass */
div.content {
  width: 583px;
  float: left;
  padding-bottom: 25px;
}

/* line 125, ../../app/assets/stylesheets/_style.sass */
div.intro {
  padding-bottom: 20px;
}
/* line 126, ../../app/assets/stylesheets/_style.sass */
div.intro p {
  margin-bottom: 5px;
}

/* line 131, ../../app/assets/stylesheets/_style.sass */
div.content ul li {
  padding: 0 0 4px 10px;
  background: url(/assets/li.png) 0 6px no-repeat;
}
/* line 134, ../../app/assets/stylesheets/_style.sass */
div.content ul.f16 {
  overflow: hidden;
}
/* line 136, ../../app/assets/stylesheets/_style.sass */
div.content ul.f16 li {
  font-size: 16px;
  padding: 0 0 8px 14px;
  background-position: 0 8px;
}

/* line 141, ../../app/assets/stylesheets/_style.sass */
div.block_new {
  margin-top: 20px;
  height: 129px;
  overflow: hidden;
  font-size: 20px;
  color: #d6d6eb;
  padding: 27px 25px;
  background: url(/assets/block_new.png) 0 0 no-repeat;
  line-height: 28px;
}
/* line 150, ../../app/assets/stylesheets/_style.sass */
div.block_new h2 {
  font-size: 23px;
  color: #add13a;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 155, ../../app/assets/stylesheets/_style.sass */
div.block_new a {
  color: #d6d6eb;
}
/* line 157, ../../app/assets/stylesheets/_style.sass */
div.block_new a:link, div.block_new a:hover, div.block_new a:active {
  color: #d6d6eb;
}
/* line 159, ../../app/assets/stylesheets/_style.sass */
div.block_new span {
  color: white;
}

/* line 162, ../../app/assets/stylesheets/_style.sass */
.more-info {
  margin-top: 33px;
}
/* line 164, ../../app/assets/stylesheets/_style.sass */
.more-info p {
  margin-top: 20px;
  line-height: 20px;
  padding-left: 20px;
  position: relative;
  font-size: 13px;
}
/* line 170, ../../app/assets/stylesheets/_style.sass */
.more-info p:before {
  position: absolute;
  left: 5px;
  content: "*";
}

/* line 175, ../../app/assets/stylesheets/_style.sass */
div.seo {
  clear: both;
  padding: 70px 46px 0 0;
}
/* line 178, ../../app/assets/stylesheets/_style.sass */
div.seo h2 {
  color: #8954a2;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}
/* line 183, ../../app/assets/stylesheets/_style.sass */
div.seo ul li {
  background: url(/assets/li_green.png) 0 7px no-repeat;
  padding: 0 0 0 15px;
  margin-top: 5px;
}
/* line 187, ../../app/assets/stylesheets/_style.sass */
div.seo h3 {
  color: #8954a2;
  font-size: 14px;
  margin: 5px 0 2px;
}
/* line 191, ../../app/assets/stylesheets/_style.sass */
div.seo h3 span {
  color: #add13a;
}
/* line 193, ../../app/assets/stylesheets/_style.sass */
div.content li {
  width: 49%;
  float: left;
  display: block;
  padding: 0;
  background: none;
  font-size: 12px;
  line-height: 22px;
}
/* line 201, ../../app/assets/stylesheets/_style.sass */
div.service {
  padding-bottom: 25px;
  zoom: 1;
  *display: block;
  overflow: visible !important;
}
/* line 5, ../../app/assets/stylesheets/extra/_mixins.sass */
div.service:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 21, ../../app/assets/stylesheets/extra/_mixins.sass */
div.service > * {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
/* line 205, ../../app/assets/stylesheets/_style.sass */
div.service .serviceL {
  width: 420px;
  position: relative;
}
/* line 208, ../../app/assets/stylesheets/_style.sass */
div.service .serviceR {
  color: #555555 !important;
  font-size: 20px;
  margin-top: -3px;
}
/* line 212, ../../app/assets/stylesheets/_style.sass */
div.service .serviceR a {
  margin-top: 2px;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
}
/* line 218, ../../app/assets/stylesheets/_style.sass */
div.service .service_info {
  display: none;
  font-size: 12px;
  padding: 6px 0 0 0;
  color: #262626;
}

/*~~~~внутренние страницы~~~~ */
/*~~~~услуги~~~~ */
/* line 228, ../../app/assets/stylesheets/_style.sass */
a.opener {
  padding-right: 14px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  background: url(/assets/arrow_bot.png) 100% 9px no-repeat;
}
/* line 234, ../../app/assets/stylesheets/_style.sass */
a.opener.close {
  background-image: url(/assets/arrow_top.png) !important;
}
/* line 236, ../../app/assets/stylesheets/_style.sass */
a.opener span {
  background: url(/assets/dotted.png) 0 100% repeat-x;
}

/* line 239, ../../app/assets/stylesheets/_style.sass */
div.service div.serviceR {
  float: right;
  width: 130px;
  text-align: right;
  color: #673092;
  font-size: 30px;
}
/* line 245, ../../app/assets/stylesheets/_style.sass */
div.service div.serviceR span {
  font-size: 17px;
}

/* line 248, ../../app/assets/stylesheets/_style.sass */
a.greenButton, a.activeStatus {
  font-size: 16px;
  text-align: center;
  padding: 6px 0 10px 0;
  text-decoration: none;
  color: white;
  background: url(/assets/greenbutton_l.png) 0 0 no-repeat;
}
/* line 255, ../../app/assets/stylesheets/_style.sass */
a.greenButton i, a.activeStatus i {
  font-style: normal;
  background: url(/assets/greenbutton_r.png) 100% 0 no-repeat;
  text-decoration: underline;
  padding: 6px 15px 10px 15px;
}
/* line 260, ../../app/assets/stylesheets/_style.sass */
a.greenButton:hover i, a.activeStatus:hover i {
  text-decoration: none;
}

/* line 263, ../../app/assets/stylesheets/_style.sass */
a.green-button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  padding: 2px 5px 3px;
  background-color: #c1de68;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1de68', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#c1de68), to(#aac851));
  background: -moz-linear-gradient(top, #c1de68, #aac851);
  background: linear-gradient(top, #c1de68, #aac851);
  /*-moz-border-radius: 3px;*/
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #aac851;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.3em;
  color: black;
  background: red;
}
/* line 97, ../../app/assets/stylesheets/extra/_mixins.sass */
a.green-button:hover {
  background-color: #d2e792;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2e792', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#d2e792), to(#aac851));
  background: -moz-linear-gradient(top, #d2e792, #aac851);
  background: linear-gradient(top, #d2e792, #aac851);
}
/* line 99, ../../app/assets/stylesheets/extra/_mixins.sass */
a.green-button:active {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 265, ../../app/assets/stylesheets/_style.sass */
a.red-button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  padding: 2px 5px 3px;
  background-color: #c1de68;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1de68', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#c1de68), to(#aac851));
  background: -moz-linear-gradient(top, #c1de68, #aac851);
  background: linear-gradient(top, #c1de68, #aac851);
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #aac851;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.3em;
  color: black;
  background-color: #de8468;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#de8468', endColorstr='#c86751')";
  background: -webkit-gradient(linear, left top, left bottom, from(#de8468), to(#c86751));
  background: -moz-linear-gradient(top, #de8468, #c86751);
  background: linear-gradient(top, #de8468, #c86751);
  border-color: #c86751;
}
/* line 97, ../../app/assets/stylesheets/extra/_mixins.sass */
a.red-button:hover {
  background-color: #d2e792;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2e792', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#d2e792), to(#aac851));
  background: -moz-linear-gradient(top, #d2e792, #aac851);
  background: linear-gradient(top, #d2e792, #aac851);
}
/* line 99, ../../app/assets/stylesheets/extra/_mixins.sass */
a.red-button:active {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}
/* line 269, ../../app/assets/stylesheets/_style.sass */
a.red-button img {
  opacity: 0.6;
  -moz-opacity: 0.6;
}
/* line 271, ../../app/assets/stylesheets/_style.sass */
a.red-button:hover {
  background-color: #e3957d;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3957d', endColorstr='#ce7864')";
  background: -webkit-gradient(linear, left top, left bottom, from(#e3957d), to(#ce7864));
  background: -moz-linear-gradient(top, #e3957d, #ce7864);
  background: linear-gradient(top, #e3957d, #ce7864);
}
/* line 272, ../../app/assets/stylesheets/_style.sass */
a.red-button:hover img {
  opacity: 1;
  -moz-opacity: 1;
}

/* line 276, ../../app/assets/stylesheets/_style.sass */
a.bigger-green-button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  padding: 2px 5px 3px;
  background-color: #c1de68;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1de68', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#c1de68), to(#aac851));
  background: -moz-linear-gradient(top, #c1de68, #aac851);
  background: linear-gradient(top, #c1de68, #aac851);
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #aac851;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.3em;
  color: black;
  font-size: 15px;
  line-height: 20px;
  padding: 3px 10px 4px 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom-color: #a1bd4f;
}
/* line 97, ../../app/assets/stylesheets/extra/_mixins.sass */
a.bigger-green-button:hover {
  background-color: #d2e792;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2e792', endColorstr='#aac851')";
  background: -webkit-gradient(linear, left top, left bottom, from(#d2e792), to(#aac851));
  background: -moz-linear-gradient(top, #d2e792, #aac851);
  background: linear-gradient(top, #d2e792, #aac851);
}
/* line 99, ../../app/assets/stylesheets/extra/_mixins.sass */
a.bigger-green-button:active {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/*~~~~кабинет~~~~ */
/* line 287, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status {
  padding-bottom: 30px;
  line-height: 2;
}
/* line 290, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status span {
  font-size: 21px;
  color: #673092;
  padding-right: 25px;
}
/* line 295, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status a.activeStatus {
  margin-right: 5px;
  font-size: 12px;
}
/* line 298, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status a.activeStatus i {
  text-decoration: none;
}
/* line 300, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status a.inactiveStatus {
  padding: 0 8px;
  font-size: 14px;
}
/* line 303, ../../app/assets/stylesheets/_style.sass */
div.zakaz_status a.inactiveStatus i {
  font-style: normal;
}
/* line 306, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceL {
  float: left;
  width: 240px;
  position: relative;
  color: #abd03b;
  font-size: 16px;
}
/* line 312, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceStatus {
  float: left;
  width: 175px;
  font-size: 16px;
  color: #939598;
}
/* line 317, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceStatus .active {
  color: #abd03b;
}
/* line 319, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceR {
  width: 150px;
  float: right;
  position: relative;
  top: -16px;
  font-size: 16px;
}
/* line 325, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceR p.price {
  font-size: 30px;
  margin-bottom: 2px;
}
/* line 328, ../../app/assets/stylesheets/_style.sass */
div.cabinet div.serviceR a.link {
  font-size: 16px;
}

/*~~заказы~~ */
/*~~~~всплывающие окна~~~~ */
/* line 335, ../../app/assets/stylesheets/_style.sass */
.modal {
  display: none;
}

/* line 338, ../../app/assets/stylesheets/_style.sass */
#simplemodal-overlay {
  background-color: #4d1b6f;
}

/* line 341, ../../app/assets/stylesheets/_style.sass */
#simplemodal-container {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  padding: 30px 40px;
}
/* line 345, ../../app/assets/stylesheets/_style.sass */
#simplemodal-container a.modalCloseImg {
  background: url(/assets/modal_close.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
/* line 355, ../../app/assets/stylesheets/_style.sass */
#simplemodal-container h3 {
  font-size: 21px;
  color: #673092;
  margin-bottom: 20px;
}
/* line 359, ../../app/assets/stylesheets/_style.sass */
#simplemodal-container label {
  font-size: 15px;
  display: block;
  clear: left;
  float: left;
  width: 60px;
  padding-top: 10px;
}
/* line 366, ../../app/assets/stylesheets/_style.sass */
#simplemodal-container input {
  font-size: 16px;
  line-height: 16px !important;
  display: block;
  float: left;
  width: 251px;
  height: 16px;
  border: 0;
  padding: 9px 10px;
  margin-bottom: 10px;
  background: url(/assets/input.png) 0 0 no-repeat;
}

/* line 378, ../../app/assets/stylesheets/_style.sass */
input.textbutton {
  font-size: 21px !important;
  text-align: left;
  clear: both;
  margin-top: 25px;
  width: auto !important;
  padding: 0 !important;
  background: none !important;
  color: #673092;
  text-decoration: underline;
  cursor: pointer;
  height: 30px !important;
}

/* line 391, ../../app/assets/stylesheets/_style.sass */
div.formpass {
  height: 25px;
  clear: left;
}

/* line 395, ../../app/assets/stylesheets/_style.sass */
input.checkbox {
  width: auto !important;
  height: auto !important;
  background: none !important;
  padding: 0 !important;
  vertical-align: top;
  margin: 0 !important;
}

/* line 403, ../../app/assets/stylesheets/_style.sass */
.checkboxlabel {
  position: relative;
  top: -4px;
  left: 8px;
  float: left;
}

/* line 410, ../../app/assets/stylesheets/_style.sass */
div.modalOptions, div.modalReg {
  width: 340px;
  height: 280px;
}
/* line 413, ../../app/assets/stylesheets/_style.sass */
div.modalOptions h3, div.modalReg h3 {
  margin-bottom: 40px !important;
}
/* line 415, ../../app/assets/stylesheets/_style.sass */
div.modalThanks {
  width: 450px;
  height: 85px;
}
/* line 418, ../../app/assets/stylesheets/_style.sass */
div.modalAuth {
  width: 340px;
  height: 220px;
}
/* line 421, ../../app/assets/stylesheets/_style.sass */
div.modalAuth h3 {
  margin-bottom: 40px !important;
}
/* line 424, ../../app/assets/stylesheets/_style.sass */
div.modalReg .textbutton {
  margin-top: -9px;
}

/* line 426, ../../app/assets/stylesheets/_style.sass */
input.textbutton.regbutton {
  float: left !important;
  clear: none !important;
  margin-left: 20px;
}

/* line 432, ../../app/assets/stylesheets/_style.sass */
div.modalService {
  width: 430px;
  height: 410px;
}
/* line 435, ../../app/assets/stylesheets/_style.sass */
div.modalService label {
  width: 115px !important;
}
/* line 437, ../../app/assets/stylesheets/_style.sass */
div.modalService textarea {
  margin-top: 10px !important;
}
/* line 440, ../../app/assets/stylesheets/_style.sass */
div.modalService input.textbutton {
  margin-top: 15px !important;
}
/* line 442, ../../app/assets/stylesheets/_style.sass */
div.modalService input.long {
  font-size: 15px !important;
  line-height: 18px !important;
  width: 285px !important;
  height: 18px !important;
  padding: 5px 10px;
  margin: 3px 0 10px 0 !important;
  background: url(/assets/input_long.png) 0 0 no-repeat !important;
}
/* line 450, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz {
  width: 425px;
  height: 515px;
}
/* line 453, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz select {
  width: 420px;
  margin-bottom: 10px;
}
/* line 456, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz label {
  width: 100% !important;
  float: none !important;
  padding-bottom: 3px;
  padding-top: 8px !important;
}
/* line 461, ../../app/assets/stylesheets/_style.sass */
div.modal textarea {
  width: 402px;
  height: 140px;
  padding: 10px;
  background: url(/assets/textarea.png) 0 0 no-repeat;
  border: 0;
  font-size: 15px !important;
}
/* line 469, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz label.filenum {
  width: 16px !important;
  display: block;
  float: left !important;
  clear: both;
}
/* line 474, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz input.fileinput {
  width: 380px !important;
  background: url(/assets/inputfile.png) 0 0 no-repeat !important;
  height: 28px !important;
  padding: 0 !important;
}
/* line 479, ../../app/assets/stylesheets/_style.sass */
div.zakaz_total {
  float: left;
  width: 245px;
  font-size: 21px;
  color: #add13a;
}
/* line 484, ../../app/assets/stylesheets/_style.sass */
div.zakaz_total b {
  font-size: 25px;
  color: #673092;
  font-weight: 500;
}
/* line 488, ../../app/assets/stylesheets/_style.sass */
div.modalZakaz .button {
  width: 165px !important;
  float: right !important;
  clear: none !important;
  margin: 0 !important;
  height: 32px !important;
}
/* line 495, ../../app/assets/stylesheets/_style.sass */
div.admin div.zakaz_status h1 {
  margin-bottom: 20px;
}
/* line 498, ../../app/assets/stylesheets/_style.sass */
div.admin div.zakaz_status a.activeStatus {
  padding: 6px 0 10px 0;
  margin-right: 0 !important;
}
/* line 501, ../../app/assets/stylesheets/_style.sass */
div.admin div.zakaz_status a.activeStatus i {
  padding: 6px 10px 10px 10px;
}
/* line 503, ../../app/assets/stylesheets/_style.sass */
div.admin div.zakaz_status a.inactiveStatus {
  padding: 0 5px;
}

/*~~~~Оформление заказа~~~~ */
/*~~~~ADMIN~~~~ */
/* line 510, ../../app/assets/stylesheets/_style.sass */
.linkusers {
  font-size: 12px;
  position: relative;
}

/*~~заказы~~ */
/* line 518, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceL {
  float: left;
  width: 240px;
  position: relative;
  color: #abd03b;
  font-size: 16px;
}
/* line 524, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceL .checkbox {
  margin-top: 4px !important;
}
/* line 526, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceStatus {
  float: left;
  width: 175px;
  font-size: 15px;
  color: #262626;
}
/* line 531, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceR {
  width: 150px;
  float: right;
  position: relative;
  top: -16px;
  font-size: 16px;
}
/* line 537, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceR p.price {
  font-size: 30px;
  margin-bottom: 2px;
}
/* line 540, ../../app/assets/stylesheets/_style.sass */
div.admin div.serviceR a.link {
  font-size: 16px;
}
/* line 542, ../../app/assets/stylesheets/_style.sass */
div.manage {
  font-size: 16px;
  color: #673092;
}

/*~~~~пользователи~~~~ */
/* line 548, ../../app/assets/stylesheets/_style.sass */
ul.users {
  list-style: none;
}
/* line 550, ../../app/assets/stylesheets/_style.sass */
ul.users li {
  display: block;
  clear: both;
  background: none !important;
  padding: 0 !important;
  margin-bottom: 5px;
}
/* line 556, ../../app/assets/stylesheets/_style.sass */
ul.users li.odd .usersL {
  background: #e6efba;
}
/* line 558, ../../app/assets/stylesheets/_style.sass */
ul.users li .usersL {
  float: left;
  width: 462px;
  margin-right: 10px;
  padding: 8px 0 8px 8px;
  font-size: 15px !important;
  color: #4d4d4f;
}
/* line 565, ../../app/assets/stylesheets/_style.sass */
ul.users li .usersL a.username {
  margin-right: 12px;
  font-size: 15px !important;
  background-position: 100% 8px;
}
/* line 569, ../../app/assets/stylesheets/_style.sass */
ul.users li.odd a.username {
  background: url(/assets/arrow_bot_gr.png) 100% 8px no-repeat;
}
/* line 571, ../../app/assets/stylesheets/_style.sass */
ul.users li.odd a.username.close {
  background: url(/assets/arrow_top_gr.png) 100% 8px no-repeat;
}
/* line 574, ../../app/assets/stylesheets/_style.sass */
ul.users li .usersL a.usermail {
  padding-right: 12px;
}
/* line 576, ../../app/assets/stylesheets/_style.sass */
ul.users li .usersL .userinfo {
  color: #262626;
  font-size: 10px;
  padding-top: 6px;
  display: none;
}
/* line 581, ../../app/assets/stylesheets/_style.sass */
ul.users li .usersR {
  float: left;
  width: 100px;
  padding: 6px 0;
}

/*~~~~изменение данных пользователя. окошко~~~~ */
/* line 589, ../../app/assets/stylesheets/_style.sass */
div.modalChange {
  width: 385px;
  height: 235px;
}
/* line 592, ../../app/assets/stylesheets/_style.sass */
div.modalChange label {
  width: 105px !important;
}
/* line 594, ../../app/assets/stylesheets/_style.sass */
div.right {
  float: right;
  width: 215px;
  padding: 15px 73px 180px 0;
  font-size: 12px;
}
/* line 599, ../../app/assets/stylesheets/_style.sass */
div.right h3 {
  color: #333333;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 603, ../../app/assets/stylesheets/_style.sass */
div.right ul + h3 {
  margin-top: 10px;
}
/* line 605, ../../app/assets/stylesheets/_style.sass */
div.right ul.links li {
  padding-bottom: 15px;
}
/* line 607, ../../app/assets/stylesheets/_style.sass */
div.right ul.links li a {
  color: #636363;
}
/* line 609, ../../app/assets/stylesheets/_style.sass */
div.right ul.links li a.right_login {
  color: #4d1977;
}
/* line 611, ../../app/assets/stylesheets/_style.sass */
div.right ul.user-links {
  padding-bottom: 4px;
}
/* line 613, ../../app/assets/stylesheets/_style.sass */
div.right ul.user-links li {
  padding-bottom: 6px;
}
/* line 615, ../../app/assets/stylesheets/_style.sass */
div.right .face {
  text-align: left;
}
/* line 617, ../../app/assets/stylesheets/_style.sass */
div.right .face strong {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  margin: 5px 0;
}
/* line 620, ../../app/assets/stylesheets/_style.sass */
div.right .face p {
  line-height: 1.4em;
}
/* line 622, ../../app/assets/stylesheets/_style.sass */
div.footer {
  border-top: 1px solid #cdced0;
  padding: 5px 0 0 0;
  color: #9c9c9c;
  margin: 4px 46px 0 0;
}
/* line 627, ../../app/assets/stylesheets/_style.sass */
div.footerL {
  font-size: 10px;
  width: 585px;
  float: left;
}
/* line 631, ../../app/assets/stylesheets/_style.sass */
div.footerR {
  font-size: 12px;
  float: right;
  width: 200px;
  text-align: right;
}
/* line 638, ../../app/assets/stylesheets/_style.sass */
div.order div.head {
  line-height: 30px;
  color: #673092;
  margin-bottom: 20px;
}
/* line 642, ../../app/assets/stylesheets/_style.sass */
div.order div.head .l {
  float: left;
  width: 240px;
  font-size: 21px;
}
/* line 646, ../../app/assets/stylesheets/_style.sass */
div.order div.head .l small {
  font-size: 16px;
}
/* line 648, ../../app/assets/stylesheets/_style.sass */
div.order div.head .c {
  float: left;
  width: 180px;
  color: #abd03b;
  font-size: 16px;
}
/* line 653, ../../app/assets/stylesheets/_style.sass */
div.order div.head .r {
  float: right;
  width: 140px;
  text-align: right;
  font-size: 16px;
}
/* line 658, ../../app/assets/stylesheets/_style.sass */
div.order div.head .r span.price {
  font-size: 30px;
}
/* line 660, ../../app/assets/stylesheets/_style.sass */
div.order div.head .r span.price small {
  font-size: 17px;
}
/* line 662, ../../app/assets/stylesheets/_style.sass */
div.order div.head .r a.add_pay {
  font-size: 12px;
  line-height: 14px !important;
  display: block;
}
/* line 666, ../../app/assets/stylesheets/_style.sass */
div.order div.plateji_info {
  float: right;
  width: 270px;
  font-size: 12px;
  line-height: 15px;
  color: #262626;
  display: none;
}
/* line 674, ../../app/assets/stylesheets/_style.sass */
div.order div.plateji_info span.date {
  display: inline-block;
  width: 75px;
}
/* line 677, ../../app/assets/stylesheets/_style.sass */
div.order div.plateji_info span.pay {
  display: inline-block;
  width: 65px;
}
/* line 680, ../../app/assets/stylesheets/_style.sass */
div.order div.plateji_info span.links {
  display: inline-block;
  width: 115px;
  text-align: right;
  float: right;
}
/* line 685, ../../app/assets/stylesheets/_style.sass */
div.order div.plateji_info a.add_pay {
  display: inline-block;
  padding-top: 5px;
  float: left;
}
/* line 689, ../../app/assets/stylesheets/_style.sass */
div.order div.row {
  border-top: 1px solid #cdced0;
  border-bottom: 1px solid #cdced0;
  padding: 5px 3px 8px 3px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 15px;
}
/* line 696, ../../app/assets/stylesheets/_style.sass */
div.order div.row .l {
  float: left;
  width: 190px;
}
/* line 699, ../../app/assets/stylesheets/_style.sass */
div.order div.row .r {
  float: right;
  width: 360px;
}
/* line 702, ../../app/assets/stylesheets/_style.sass */
div.order div.row form {
  position: relative;
  left: -10px;
}
/* line 705, ../../app/assets/stylesheets/_style.sass */
div.order div.row label {
  width: 100% !important;
  float: left;
  font-size: 15px;
  clear: both;
  padding-bottom: 3px;
  padding-top: 8px !important;
}
/* line 712, ../../app/assets/stylesheets/_style.sass */
div.order div.row textarea {
  width: 354px;
  height: 54px;
  padding: 5px 10px;
  background: url(/assets/textarea_374_64.gif) 0 0 no-repeat;
  border: 0;
  font-size: 12px !important;
  color: #262626;
  margin-top: 3px;
}
/* line 721, ../../app/assets/stylesheets/_style.sass */
div.order div.row label.filenum {
  width: 15px !important;
  display: block;
}
/* line 724, ../../app/assets/stylesheets/_style.sass */
div.order div.row input.fileinput {
  width: 345px !important;
  background: url(/assets/inputfile.png) 0 0 no-repeat !important;
  height: 28px !important;
  padding: 0 !important;
  margin-bottom: 7px;
  border: 0 !important;
  margin-right: 0 !important;
}
/* line 732, ../../app/assets/stylesheets/_style.sass */
div.order a.make_order {
  font-size: 16px;
  float: right;
}
/* line 735, ../../app/assets/stylesheets/_style.sass */
div.order label.prilojeniya {
  margin-bottom: 7px;
}
/* line 737, ../../app/assets/stylesheets/_style.sass */
div.modalDocs {
  width: 335px;
  height: 380px;
}
/* line 740, ../../app/assets/stylesheets/_style.sass */
div.modalDocs label {
  width: 57px !important;
  position: relative;
}
/* line 743, ../../app/assets/stylesheets/_style.sass */
div.modalDocs textarea {
  width: 308px;
  height: 57px;
  padding: 5px 10px;
  background: url(/assets/textarea_328_67.gif) 0 0 no-repeat;
  border: 0;
  font-size: 12px !important;
  color: #262626;
  margin-top: 5px;
}
/* line 752, ../../app/assets/stylesheets/_style.sass */
div.modalDocs input.textbutton {
  margin-top: 15px;
  font-size: 23px;
}
/* line 755, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej {
  width: 325px;
  height: 280px;
}
/* line 758, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej input {
  font-size: 16px;
  line-height: 33px !important;
  display: block;
  float: left;
  width: 221px !important;
  height: 33px !important;
  border: 0;
  padding: 0 10px !important;
  background: url(/assets/input_short.gif) 0 0 no-repeat !important;
}
/* line 768, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej textarea {
  width: 308px;
  height: 57px;
  padding: 5px 10px;
  background: url(/assets/textarea_328_67.gif) 0 0 no-repeat;
  border: 0;
  font-size: 12px !important;
  color: #262626;
  margin-top: 5px;
}
/* line 777, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej input.textbutton {
  margin-top: 15px;
  font-size: 23px;
  height: 30px !important;
  line-height: 30px !important;
  background: none !important;
  padding: 0 !important;
}
/* line 784, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej span.rub {
  position: relative;
  top: 10px;
  left: 7px;
}
/* line 788, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej select {
  margin: 10px 0;
}
/* line 790, ../../app/assets/stylesheets/_style.sass */
div.modalPlatej label {
  width: 50px !important;
}

/* line 793, ../../app/assets/stylesheets/_style.sass */
.new_order_buttom {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  padding: 3px 10px;
  background: #bfa2cf;
  color: black;
  font-size: 13px;
}
/* line 799, ../../app/assets/stylesheets/_style.sass */
.new_order_buttom:hover {
  color: black;
  background: #d0b9da;
}
/* line 802, ../../app/assets/stylesheets/_style.sass */
.new_order_buttom:active {
  background: #c9ec64;
}

/* line 805, ../../app/assets/stylesheets/_style.sass */
div.content .page_footer {
  border-top: 1px solid #cccccc;
  margin-top: 35px;
  padding-top: 15px;
  overflow: hidden;
}
/* line 810, ../../app/assets/stylesheets/_style.sass */
div.content .page_footer ul {
  padding-left: 0px;
  list-style-type: disc;
}
/* line 813, ../../app/assets/stylesheets/_style.sass */
div.content .page_footer ul li {
  background: none;
  font-size: 14px;
  list-style-type: disc;
  padding-left: 0;
  padding-bottom: 0px;
  display: block;
  width: 100%;
}

/* line 1, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form {
  margin-top: 20px;
}
/* line 3, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form select {
  width: 510px;
}
/* line 5, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form textarea {
  padding: 5px 10px;
  border: 0;
  font-size: 12px !important;
  color: #262626;
  margin-top: 5px;
  width: 563px;
  height: 70px;
  background: none;
  border: 1px solid #dbdcdc;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 16, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form label {
  font-weight: bold;
  color: #666666;
  margin-right: 3px;
}
/* line 20, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form hr {
  margin: 15px 0;
  border: 0;
  height: 2px;
  background: #dddddd;
}
/* line 25, ../../app/assets/stylesheets/elements/_order_form.sass */
.order_form .order_info {
  font-size: 13px;
}

/* line 29, ../../app/assets/stylesheets/elements/_order_form.sass */
.right.recommentations h3 {
  color: #313133;
}
/* line 31, ../../app/assets/stylesheets/elements/_order_form.sass */
.right.recommentations p {
  line-height: 19px;
  margin-bottom: 12px;
}
/* line 34, ../../app/assets/stylesheets/elements/_order_form.sass */
.right.recommentations ol {
  font-weight: bold;
  padding-left: 22px;
  margin-bottom: 20px;
}
/* line 38, ../../app/assets/stylesheets/elements/_order_form.sass */
.right.recommentations ol li {
  margin-bottom: 10px;
}
/* line 40, ../../app/assets/stylesheets/elements/_order_form.sass */
.right.recommentations ol li span {
  font-weight: normal;
}

/* line 1, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type {
  margin-bottom: 18px;
}
/* line 3, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type > div {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
/* line 5, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type > .name {
  width: 400px;
}
/* line 7, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type > .name span {
  font-size: 15px;
  color: #59416b;
}
/* line 10, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type > .name .service_info {
  display: none;
  font-size: 12px;
  line-height: 17px;
  padding: 6px 0 4px 0;
  color: #262626;
}
/* line 16, ../../app/assets/stylesheets/elements/_order_type.sass */
article.order_type > .price {
  width: 70px;
}

/* line 1, ../../app/assets/stylesheets/elements/_header.sass */
div.header {
  padding: 0 46px 17px 0;
}
/* line 3, ../../app/assets/stylesheets/elements/_header.sass */
div.header .user_block {
  display: none;
  position: absolute;
  width: 100%;
  text-align: right;
  background-color: #e9e8e8;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e8e8', endColorstr='white')";
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e8e8), to(white));
  background: -moz-linear-gradient(top, #e9e8e8, white);
  background: linear-gradient(top, #e9e8e8, white);
  top: 0px;
  right: 0px;
  height: 40px;
  line-height: 35px;
}
/* line 13, ../../app/assets/stylesheets/elements/_header.sass */
div.header .user_block .menu {
  width: 885px;
  padding: 0 46px;
  margin: 0 auto;
}
/* line 17, ../../app/assets/stylesheets/elements/_header.sass */
div.header .user_block .menu a {
  color: #333333;
}
/* line 19, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.logo {
  width: 590px;
  padding-top: 6px;
  float: left;
  font-size: 16px;
  color: #abd03a;
  line-height: 14px;
  position: relative;
  z-index: 100;
}
/* line 28, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.logo strong {
  font-weight: 500;
  color: #94b826;
}
/* line 31, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.phone {
  float: right;
  width: 360px;
  text-align: right;
  font-size: 12px;
  color: #add13a;
  margin-left: -100px;
}
/* line 38, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.phone div.inner {
  font-size: 41px;
  color: #939598;
  padding-bottom: 4px;
}
/* line 42, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.phone span {
  font-size: 14px;
}
/* line 44, ../../app/assets/stylesheets/elements/_header.sass */
div.header div.phone a {
  padding-left: 15px;
}

/* line 46, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu {
  clear: both;
  padding: 0 46px 34px 0;
}
/* line 21, ../../app/assets/stylesheets/extra/_mixins.sass */
div.topmenu > * {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
/* line 50, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL {
  float: left;
  width: 625px;
  font-size: 15px;
}
/* line 54, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul {
  height: 28px;
  padding: 10px 0;
  margin-left: -10px;
}
/* line 58, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul li {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 10px;
  margin-right: 20px;
}
/* line 63, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul li.my_orders {
  background: white;
}
/* line 65, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul li.active a {
  color: #add13a;
}
/* line 67, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul.shorter {
  margin-left: -7px;
}
/* line 69, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuL ul.shorter li {
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 8px;
}
/* line 74, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuR {
  width: 259px;
  float: right;
  text-align: right;
  height: 48px;
}
/* line 79, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuR a.zakaz {
  width: 259px;
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  font-size: 21px;
  color: white;
  height: 31px;
  text-align: center;
  padding: 8px 0;
  background: url(/assets/button_zakaz.png) 0 0 no-repeat;
  text-decoration: none;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 92, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuR a.zakaz:hover {
  background-position: 0 -48px;
  text-decoration: none;
  color: white;
}
/* line 96, ../../app/assets/stylesheets/elements/_header.sass */
div.topmenu .topmenuR a.zakaz:active {
  background-position: 0 -96px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  color: white;
}

/* line 2, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page h1 {
  padding-bottom: 13px;
}
/* line 4, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article {
  margin-bottom: 20px;
}
/* line 21, ../../app/assets/stylesheets/extra/_mixins.sass */
section.services_page article > * {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
}
/* line 7, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article .info {
  width: 390px;
  padding-right: 10px;
}
/* line 10, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article .info .service_info {
  margin-top: 17px;
  margin-bottom: 10px;
  display: none;
}
/* line 15, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article .price {
  font-size: 19px;
  width: 95px;
}
/* line 18, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article .price span {
  font-size: 14px;
}
/* line 20, ../../app/assets/stylesheets/pages/_services.sass */
section.services_page article .action {
  margin-left: 12px;
}

/* line 8, ../../app/assets/stylesheets/application.css.sass */
.red {
  color: red;
}

/* line 11, ../../app/assets/stylesheets/application.css.sass */
.blue {
  color: blue;
}

/* line 14, ../../app/assets/stylesheets/application.css.sass */
.green {
  color: green;
}

/* line 17, ../../app/assets/stylesheets/application.css.sass */
.hint {
  font-size: 75%;
  font-style: italic;
  color: #7f7f7f;
}

/* line 22, ../../app/assets/stylesheets/application.css.sass */
.files a {
  padding: 2px 0 2px 22px;
  margin: 2px 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(/assets/icons/file.png);
}
/* line 28, ../../app/assets/stylesheets/application.css.sass */
.files a.pdf {
  background-image: url(/assets/icons/pdf.png);
}
/* line 30, ../../app/assets/stylesheets/application.css.sass */
.files a.doc {
  background-image: url(/assets/icons/doc.png);
}
/* line 32, ../../app/assets/stylesheets/application.css.sass */
.files a.xls {
  background-image: url(/assets/icons/xls.png);
}

/* line 35, ../../app/assets/stylesheets/application.css.sass */
.error, .notice, .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

/* line 40, ../../app/assets/stylesheets/application.css.sass */
.error {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

/* line 45, ../../app/assets/stylesheets/application.css.sass */
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}

/* line 50, ../../app/assets/stylesheets/application.css.sass */
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}

/* line 55, ../../app/assets/stylesheets/application.css.sass */
.error a {
  color: #8a1f11;
}

/* line 58, ../../app/assets/stylesheets/application.css.sass */
.notice a {
  color: #514721;
}

/* line 61, ../../app/assets/stylesheets/application.css.sass */
.success a {
  color: #264409;
}

/* line 65, ../../app/assets/stylesheets/application.css.sass */
#container label {
  font-size: 15px;
  display: block;
  clear: left;
  float: left;
  width: 60px;
  padding-top: 10px;
}
/* line 72, ../../app/assets/stylesheets/application.css.sass */
#container input {
  font-size: 16px;
  line-height: 34px !important;
  display: block;
  float: left;
  width: 251px;
  height: 34px;
  border: 0;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  background: url(/assets/input.png) 0 0 no-repeat;
}

/* line 85, ../../app/assets/stylesheets/application.css.sass */
.container .we_provide {
  overflow: hidden;
}
